<div
  class="modal fade"
  id="addRestModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add Restaurant Detail
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/shop/<%= (!shop._id)?"add":shop._id %>"  method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Shop Name</label>
            <input type="text" class="form-control"  value=" <%= shop.name %>" id="name" name="name" />
          </div>
          <div class="mb-3">
            <label for="place" class="form-label">Place</label>
            <input type="text" class="form-control" id="place"  value=" <%= shop.place %>" name="place" />
          </div>
          <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input
              type="number"
              value="<%= shop.rating %>"
              class="form-control"
              id="rating"
              name="rating"
            />
          </div>
          <div class="mb-3">
            <label for="owner" class="form-label">Shop owner</label>
              
              <input type="text" class="form-control" value=" <%= shop.owner %>"  id="owner" name="owner" />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image Url</label>
              
              <input type="text" value="<%= shop.image %>"  class="form-control" id="image" name="image" />
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea class="form-control" id="desc" name="desc"><%= shop.desc %></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
