<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body class="container">
    <header><%- include('../partials/navbar',{active:"shop"}) %></header>
   
    <div class="page-content page-container p-3" id="page-content">
      <div class="padding">
          <div class="row container d-flex justify-content-center">
              <div class="col-xl-6 col-md-12">
                  <div class="card user-card-full">
                      <div class="row m-l-0 m-r-0">
                          <div class="col-md-12 bg-c-lite-green user-profile">
                              <div class="card-block text-center text-white">
                                  <div class="m-b-25"> <img src="<%= shop.image %>" class="img-radius" style="width: 300px;" alt="User-Profile-Image"> </div>
                                  <h6 class="f-w-600"><%= shop.name %> </h6>
                                  
                              </div>
                          </div>
                          <div class="col-sm-8">
                              <div class="card-block p-5">
                                  <h3 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h3>
                                  <div class="row pb-3">
                                      <div class="col-sm-12">
                                          <p class="m-b-10 f-w-600">Name : <%= shop.name %></p>
                                          
                                      </div>
                                      <div class="col-sm-12">
                                          <p class="m-b-10 f-w-600">Place : <%= shop.place %></p>
                                     
                                      </div>
                                      <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Rating : <%= shop.rating %></p>
                                      
                                      </div>
                                      <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Owner : <%= shop.owner %></p>
                                    
                                      </div>
                                      
                                      <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Description</p>
                                        <h6 class="text-muted f-w-500"><%= shop.desc %></h6>
                                      </div>
                                  </div>
                                  <button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#addRestModal">
                                    Edit
                                  </button>
                                  <a href="/shop/delete/<%= shop._id %>" class="btn btn-danger text-center">Delete</a>
                                 
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal of shop form-->
  <%- include('addModal') %> 




    </body>
    <footer><%- include('../partials/footer') %></footer>
</body>
</html>